<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [SionyxKiosk]SionyxKiosk.App,
            [SionyxKiosk]SionyxKiosk.Views.*,
            [SionyxKiosk]XamlGeneratedNamespace.*,
            [SionyxKiosk]SionyxKiosk.Services.PrintMonitorService,
            [SionyxKiosk]SionyxKiosk.Services.KeyboardRestrictionService,
            [SionyxKiosk]SionyxKiosk.Services.GlobalHotkeyService,
            [SionyxKiosk]SionyxKiosk.Services.ProcessRestrictionService,
            [SionyxKiosk]SionyxKiosk.Services.ProcessCleanupService
          </Exclude>
          <ExcludeByFile>
            **/Views/**/*.xaml.cs,
            **/App.xaml.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
